FileName="gbcmdcert_target.conf"

// Certification Input Configuration from testee
GBACertId="776198e6-59ec-5d25-950a-b34a25b93d67"

// NAESB Purchased Standards Website
NAESBPurchasedStandardsURI="https://www.naesb.org//pdf2/copyright.pdf"

// NIST FIPS 140-2 Certificate Website
NISTFIPSCertScreen="http://csrc.nist.gov/groups/STM/cmvp/documents/140-1/140val-all.htm"

// Test Applicant's TLS Library to be verified as FIPS 140-2 Compliant
productionAuthorizationServerTLSLibrary="Apple Inc."
productionAuthorizationServerTLSLibCert="2411"
productionResourceServerTLSLibrary="Symantec Corporation"
productionResourceServerTLSLibCert="1937"
productionSFTPServerTLSLibrary="Symantec Corporation"
productionSFTPServerTLSLibCert="1937"

// Production Servers
productionAuthorizationServerDomain="https://localhost:8443"
productionResourceServerDomain="https://localhost:8443"
productionSFTPServerDomain="https://localhost:8443"

dataCustodianResourceEndpoint="http://localhost:8080/DataCustodian/espi/1_1/resource"
authorizationServerTokenEndpoint="http://localhost:8080/DataCustodian/oauth/token"

// for retrieval of information for this third party, provide the IDs to use
// 	resourceUri: 
//		{dataCustodianResourceEndpoint}/ApplicationInformation/{applicationInformationId}
// 	authorizationUri: 
//		{dataCustodianResourceEndpoint}/Authorization/{authorizationId}
applicationInformationId="2"
authorizationId="4"

// client id
client_id=""
client_secret=""

// registration_access_token
// either provide access token, or, id and secret
registration_access_token=""
registration_access_token_client_id="REGISTRATION_surface_tp"
registration_access_token_secret="secret"


// client_access_token
// either provide access token, or, id and secret
client_access_token=""
client_access_token_client_id="surface_tp_admin"
client_access_token_secret="secret"

scope="FB=4_5_15;IntervalDuration=3600;BlockDuration=monthly;HistoryLength=13"
certDataScopeFBs="FB=1_4_5_15"

// if an offline authorization (FB_XX) is used, provide the authorization id and access token
optionalOfflineAuthorizationID="5"
optionalOfflineAccess_token="57673811-5a25-4412-89e1-e15043f9703f"
