FileName="gbcmdcert_target.conf"

// Test Target's GBA Certification ID assigned by GBA when Connect My Data Certification Application
// is received
GBACertId="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

// Test target's Test and Production Resource, Authorization, and SFTP Server domains (i.e. host URI and
// port value). Resource Server information is required, Authorization and SFTP Server information is only
// required if test target uses a separate Authorization Server and/or SFTP Server.  If test target does
// not use separate Authorization or SFTP Servers, they values should be "". 
productionAuthorizationServerDomain="https://localhost:8443"
productionResourceServerDomain="https://localhost:8443"
productionSFTPServerDomain="https://localhost:8443"
testAuthorizationServerDomain="https://localhost:8443"
testResourceServerDomain="https://localhost:8443"
testSFTPServerDomain="https://localhost:8443"

// Test target's Resource and OAuth 2.0 Token Endpoints
dataCustodianResourceEndpoint="http://localhost:8080/DataCustodian/espi/1_1/resource"
authorizationServerTokenEndpoint="http://localhost:8080/DataCustodian/oauth/token"

// Test target's assigned Connect My Data test harness ApplicationtInformation and Authorization retrieval
// URI ID values
// 	resourceUri: 
//		{dataCustodianResourceEndpoint}/ApplicationInformation/{applicationInformationId}
// 	authorizationUri: 
//		{dataCustodianResourceEndpoint}/Authorization/{authorizationId}
applicationInformationId="2"
authorizationId="4"

// Test target's assigned Connect My Data test harness client_id and secret
client_id=""
client_secret=""

// Test targets's assigned Connect My Data test harness registration_access_token or Registration client_id
// and secret
registration_access_token=""
registration_access_token_client_id="REGISTRATION_surface_tp"
registration_access_token_secret="secret"


// Test target's assigned Connect My Data test harness client_access_token or Admin client_id and secret
// either provide access token, or, id and secret
client_access_token=""
client_access_token_client_id="surface_tp_admin"
client_access_token_secret="secret"

scope="FB=4_5_15;IntervalDuration=3600;BlockDuration=monthly;HistoryLength=13"
certDataScopeFBs="FB=1_4_5_15"

// if an offline authorization (FB_XX) is used, provide the authorization id and access token
optionalOfflineAuthorizationID="5"
optionalOfflineAccess_token="57673811-5a25-4412-89e1-e15043f9703f"
