FileName="gbcmd.conf"

// urls
BaseURL="http://localhost:8080"
ServiceEndpoint="http://localhost:8080/DataCustodian"
DataCustodianContext="DataCustodian"
ThirdPartyContext="ThirdParty"
linkPrefixForReplace="http://localhost:8080/DataCustodian/"

// test accounts
TestManager="grace"
TestManagerPW="koala"
TestRetailCustomer="alan"
TestRetailCustomerPW="koala"

// resourceIds
retailCustomerId="1"
usagePointId="1"
resourceId="01"
meterReadingId="1"
readingTypeId="1"
intervalBlockId="1"
electricPowerQualitySummaryId="1"
electricPowerUsageSummaryId="1"
subscriptionId="5"
applicationInformationId="1"
authorizationId="1"
bulkId="1"
localTimeParametersId="1"

// test files
TestFile="test_usage_data.xml"
usagePointUUID1="48C2A019-5598-4E16-B0F9-49E4FF27F5FB"
usagePointDescription1="Front Electric Meter"
TestFile2="Gas.xml"
usagePointUUID2="642EABA-8E42-4D1A-A375-AF54993C007B"
usagePointDescription2="Gas"

// access tokens
upload_access_token="03909715-b0ca-4797-9a9a-601fff1d2848"
data_custodian_access_token="2a85f4bd-30db-4b7d-8f41-b046b0566cb3"
third_party_access_token="53520584-d640-4812-a721-8a1afa459ff7"
registration_third_party_access_token="c66b0854-ea1f-4e24-afb7-afab9e0f6c5e"

// external program system commands
mysqlCmdDC="mysql --user=root --password=password"
mysqlCmdTP="mysql --user=root --password=password"
opensslCmd="openssl"
timeoutCmd="timeout"
DBprepopulateScriptName="prepopulatesql_dc.sql"


