FileName="gbcmd.conf"

// urls
BaseURL="http://localhost:8080"
ServiceEndpoint="http://localhost:8080/DataCustodian"
DataCustodianContext="DataCustodian"
ThirdPartyContext="ThirdParty"
linkPrefixForReplace="http://localhost:8080/DataCustodian/"

// test accounts
TestManager="grace"
TestManagerPW="koala"
TestRetailCustomer="alan"
TestRetailCustomerPW="koala"

// resourceIds
retailCustomerId="1"
usagePointId="1"
resourceId="01"
meterReadingId="1"
readingTypeId="1"
intervalBlockId="1"
electricPowerQualitySummaryId="1"
electricPowerUsageSummaryId="1"
subscriptionId="5"
applicationInformationId="1"
authorizationId="1"
bulkId="1"
localTimeParametersId="1"

// test files
TestFile="test_usage_data.xml"
usagePointUUID1="48C2A019-5598-4E16-B0F9-49E4FF27F5FB"
usagePointDescription1="Front Electric Meter"
TestFile2="Gas.xml"
usagePointUUID2="642EABA-8E42-4D1A-A375-AF54993C007B"
usagePointDescription2="Gas"

// access tokens
upload_access_token="b4f05e98-0d4a-4477-be85-c30c1a8e5677"
data_custodian_access_token="9ae38e20-2b90-4218-b679-769277d022ff"
third_party_access_token="ae3db544-c091-443d-8df1-30558965cb43"
registration_third_party_access_token="5be1358f-2d21-46cb-bc09-8404bbb23fb0"

// external program system commands
mysqlCmdDC="mysql --user=root --password=password"
mysqlCmdTP="mysql --user=root --password=password"
opensslCmd="openssl"
timeoutCmd="timeout"
DBprepopulateScriptName="prepopulatesql_dc.sql"


